@import './base.css';

#app {
  max-width: 680px;
  margin-top: 3.5rem;
}

@media (min-width: 680px) {
  body {
    display: flex;
    place-items: center;
  }
}

.day {
  width: 40px;
  height: 40px;
  font-weight: 500;
  font-size: 20px;
  border-radius: 50%;
}

.clock {
  width: 55px;
  height: 32px;
  font-weight: 500;
  font-size: 18px;
  border-radius: 15%;
  padding-top: 1%;
  border-top: 10px;
}

.selected {
  background: #66bb6a;
  color: #ffffff;
}

.selected:hover {
  background: #00ff00;
}

.notselected {
  background: #ffffff;
  color: #000000;
}

.notselected:hover {
  background: #dcdcdc;
}

.notAvailable {
  color: #dcdcdc;
}

.pulse-bubble-1 {
  animation: pulse 0.8s ease infinite;
}

.pulse-bubble-2 {
  animation: pulse 0.8s ease infinite;
  animation-delay: 200ms;
}

.pulse-bubble-3 {
  animation: pulse 0.8s ease infinite;
  animation-delay: 400ms;
}

@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  } 
  to {
    opacity: 0.35;
    transform: scale(0.80);
  } 
}

.button {
  height: 25px;
  border-radius: 5px;
  background-color: #00ffff;
  border-width: 1px;
  border-color:#035b8a;
}

.button:hover {
  background: #02d8d8;
}

.inform {
  height: 35px;
  padding-top: 4px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  color: #150562;
}
